# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build / dist
dist/
build/
.out/
.cache/
.vite/
coverage/
*.local

# Environment
.env
.venv
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log

# Tests output
jest-cache/
jest-coverage/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build / dist
dist/
build/
.out/
.cache/
.vite/
coverage/
*.local

# Environment
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db
**/local_data/

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log

# Tests output
jest-cache/
jest-coverage/

# Python
*__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.pyc

# Environnements virtuels Python
venv/
.venv/
env/
.env/

