version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    # Si ton XML est à l'extérieur et doit être persistant :
    # volumes:
    #   - ./backend/data.xml:/app/data.xml

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    environment:
      # En local, le backend est accessible via le nom du service Docker
      - VITE_API_URL=http://backend:5000
